.container {
  display: flex;
  flex-direction: column
;  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.color-contents {
  display: flex;
  justify-content: center;
  align-items:  center;
  color: #fff;
  font-size: 48px;
  margin-top: 50px;
  width: 100vw;
  flex-direction: column;
  gap: 20px;
}